/* app.css は行数が多すぎなので、自前のはこちらに定義する */
html, body {
  background-color: #f0f0f0;
  color: #636b6f;
  font-family: 'Nunito', 'Noto Sans JP', sans-serif;
  letter-spacing: .1rem;
}

.navbar {
  font-weight: 600;
}

.links a {
  color: #a3abaf;
  padding: 0 25px;
  font-weight: 600;
  text-decoration: none;
}

.links a:hover {
  color: #233b3f;
}
